/*
1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное
*/

/* Fonts - start */

/* inter-100 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: local(''),
    url('../src/fonts/inter-v3-latin_cyrillic-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../src/fonts/inter-v3-latin_cyrillic-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-200 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: local(''),
    url('../src/fonts/inter-v3-latin_cyrillic-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../src/fonts/inter-v3-latin_cyrillic-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-300 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../src/fonts/inter-v3-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../src/fonts/inter-v3-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../src/fonts/inter-v3-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../src/fonts/inter-v3-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../src/fonts/inter-v3-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../src/fonts/inter-v3-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../src/fonts/inter-v3-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../src/fonts/inter-v3-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../src/fonts/inter-v3-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../src/fonts/inter-v3-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../src/fonts/inter-v3-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../src/fonts/inter-v3-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - latin_cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../src/fonts/inter-v3-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../src/fonts/inter-v3-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* Fonts - end */


:root {
    --text: #000000;

    --background: #ffffff;
}

/* Global style - start*/

*, *:before, *:after {
    box-sizing: border-box
}

.page {
    height: 100%; /* для гридов*/
}

.page,
.page-body {
    min-width: 320px;
}

.page-body {
    /* для гридов*/
    min-height: 100%;
    display: grid;
    grid-template-rows:
    min-content
    1fr
    min-content;
    align-content: start;
    /* для гридов*/

    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text);

    background-color: var(--background);
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
}

.container {
    margin: 0 auto;
    padding: 0 20px;

    width: auto;
}

@media (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 992px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


/* Global style - end */

/* header - start */
.page-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 100;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 0 0 1px rgb(226, 226, 226);
    background-color: rgba(255, 255, 255, 0.8);

    backdrop-filter: blur(10px);
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav__logo {
    display: flex;
}

.nav__name {
    align-self: center;
    font-weight: 600;
}

.nav__list {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    list-style: none;
}

.nav__item {
    padding: 0 10px;
}

.nav__item--icon {
    display: none;
    width: 30px;
    height: auto;
}

.nav__link {
    color: inherit;
}
/* header - end */

/* main - start */

/* home - start */
.home__name,
.home__title,
.home__description {
    text-align: center;
}

.home {

}

.home__img {
    display: block;
    margin: 100px auto 50px;
}

.home__name {
    font-size: 26px;
    font-weight: 700;
}

.home__title {
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
}

.home__description {
    font-size: 22px;
}

/* home - end */

.skills__title,
.portfolio__title {
    margin-top: 50px;

    text-align: center;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}

.separator {
    height: 20px;
}

.separator--big {
    height: 80px;
}

/* skills - start */

.skill-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.skill__label {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px 24px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgb(226, 226, 226);
    min-width: 96px;
    text-align: center;
}

.skill__label-point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}


/* skills - end */

/* portfolio - start */
.portfolio__list {
    padding: 0;
    margin: 0 auto 24px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 24px;
    list-style: none;
}

.portfolio__item {
    position: relative;
    text-align: center;
    border-radius: 6px;
}

.portfolio__item:hover .portfolio__item__img-wrapper {
    transform: translateY(-36px);
    box-shadow: 0 0 0 1px rgb(226, 226, 226), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.portfolio__item__img-wrapper {
    position: relative;
    z-index: 1;
    height: 350px;
    margin: 0;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgb(226, 226, 226), 0 0 0 0 rgba(0, 0, 0, 0);
    background: rgb(255, 255, 255);

    overflow: hidden;

    transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.portfolio__item__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.portfolio__item-title {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 6px;
    bottom: 0;
    margin: 0;
    color: rgb(80, 80, 80);
}

/* portfolio - end */

/* main - end */

/* footer - start */
.page-footer {
    border-top: 1px solid #e2e2e2;
    text-align: center;
}
.page-footer .container {
    display: flex;
    justify-content: space-between;
}

.contacts__email a {
    color: var(--text);
}

.copyright__text {
    text-align: center;
}


/* footer - end */

@media (max-width: 1200px) {
    .portfolio__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .nav {
        grid-template-columns: 1fr 1fr;
    }

    .nav__item {
        display: none;
    }

    .nav__item--icon {
        display: inherit;
        margin: 0 20px;
    }

    .portfolio__list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 442px) {
    .skill-block {
        justify-content: left;
    }

    .page-footer .container {
        flex-direction: column;
    }

    .portfolio__item:hover .portfolio__item__img-wrapper {
        transform: translateY(-56px);
    }
}
